<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <th:block th:fragment="configFragment">
    <!-- 공통 css -->
    <!-- Content Page의 CSS fragment 삽입 -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet"/>
    <!-- Content Page의 script fragment 삽입 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>

  </th:block>
</html>
