.e88_333 {
	overflow:hidden;
}
.e88_333 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e88_335 { 
	width:1440px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
}
.e88_337 { 
	width:403px;
	height:36px;
	position:absolute;
	left:1037px;
	top:28px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e88_338 { 
	width:67px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.e88_339 { 
	width:40px;
	height:20px;
	position:absolute;
	left:0px;
	top:10px;
}
.ei88_339_3_82 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:40px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nanum Myeongjo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e88_340 { 
	width:54px;
	height:20px;
	position:absolute;
	left:70px;
	top:10px;
}
.ei88_340_3_82 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:54px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nanum Myeongjo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e88_341 { 
	width:45px;
	height:20px;
	position:absolute;
	left:154px;
	top:10px;
}
.ei88_341_3_84 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:45px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nanum Myeongjo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e88_342 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e88_342 { 
	position:absolute;
	left:229px;
	top:14.25px;
}
.e88_343 { 
	width:40px;
	height:20px;
	position:absolute;
	left:259px;
	top:10px;
}
.ei88_343_3_82 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:40px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nanum Myeongjo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	/*line-height:px;*/
}
.e88_344 { 
	width:54px;
	height:20px;
	position:absolute;
	left:329px;
	top:10px;
}
.ei88_344_3_82 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:54px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nanum Myeongjo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e88_345 { 
	width:198px;
	height:28px;
	position:absolute;
	left:621px;
	top:29px;
}
.e88_346 { 
	width:198px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}
.e88_347 { 
	transform: rotate(-15deg);
	width:29px;
	height:28px;
	position:absolute;
	left:11px;
	top:0px;
}
.ei88_347_3_76 { 
	width:29px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei88_347_3_77 { 
	background-color:rgba(252.00000017881393, 221.00000202655792, 236.00000113248825, 1);
	width:18.27397346496582px;
	height:8.150686264038086px;
	position:absolute;
	left:0.5958904027938843px;
	top:19.849313735961914px;
}
.ei88_347_3_78 { 
	background-color:rgba(241.00000083446503, 120.00000044703484, 182.00000435113907, 1);
	width:8.441781044006348px;
	height:20.136985778808594px;
	position:absolute;
	left:1.0357143878936768px;
	top:0px;
}
.ei88_347_3_79 { 
	background-color:rgba(120.00000044703484, 121.00000038743019, 241.00000083446503, 1);
	width:18.27397346496582px;
	height:8.150684356689453px;
	position:absolute;
	left:10.130138397216797px;
	top:0px;
}
.ei88_347_3_80 { 
	background-color:rgba(165.00000536441803, 166.00000530481339, 246.0000005364418, 1);
	width:8.441783905029297px;
	height:20.136985778808594px;
	position:absolute;
	left:19.962326049804688px;
	top:7.383562088012695px;
}
.e88_348 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:277.20001220703125px;
	height:20px;
	position:absolute;
	left:43.371429443359375px;
	top:5px;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e88_349 { 
	width:1440px;
	height:192px;
	position:absolute;
	left:0px;
	top:832px;
}
.e88_350 { 
	width:1442px;
	height:192px;
	position:absolute;
	left:0px;
	top:0px;
}
.e88_351 { 
	background-color:rgba(120.00000044703484, 121.00000038743019, 241.00000083446503, 1);
	width:1442px;
	height:192px;
	position:absolute;
	left:0px;
	top:0px;
}
.e88_352 { 
	opacity:0.10000000149011612;
	width:1386px;
	height:0px;
	position:absolute;
	left:28px;
	top:148px;
}
.e88_352 {
	border:1px solid rgba(255, 255, 255, 1);
}
.e88_353 { 
	color:rgba(200.00000327825546, 200.00000327825546, 200.00000327825546, 0.5);
	width:144.375px;
	height:22px;
	position:absolute;
	left:648px;
	top:159px;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e88_354 { 
	width:224px;
	height:41px;
	position:absolute;
	left:761px;
	top:97px;
}
.e88_355 { 
	width:10px;
	height:16px;
	position:absolute;
	left:155px;
	top:16px;
}
.e88_356 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.227999687194824px;
	height:18.98900032043457px;
	position:absolute;
	left:0.0010000000474974513px;
	top:0.004000000189989805px;
}
.e88_357 { 
	color:rgba(255, 255, 255, 1);
	width:82px;
	height:16px;
	position:absolute;
	left:26px;
	top:16px;

	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e88_358 { 
	width:19px;
	height:18px;
	position:absolute;
	left:179px;
	top:16px;
}
.e88_359 { 
	width:19px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei88_359_11_41 { 
	background-color:rgba(255, 255, 255, 1);
	width:17.41666603088379px;
	height:16.500001907348633px;
	position:absolute;
	left:0.7916674017906189px;
	top:0.7499929666519165px;
}
.e88_360 { 
	width:281px;
	height:18px;
	position:absolute;
	left:448px;
	top:114px;
}
.e88_361 { 
	color:rgba(255, 255, 255, 1);
	width:181px;
	height:11.050361633300781px;
	position:absolute;
	left:100px;
	top:4px;
	text-align:left;
	font-size:13px;
	letter-spacing:3px;
}
.e88_363 { 
	color:rgba(255, 255, 255, 1);
	width:75px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e88_364 { 
	width:16px;
	height:12px;
	position:absolute;
	left:75px;
	top:3px;
}
.e88_365 {
	border:0.800000011920929px solid rgba(255, 255, 255, 1);
}
.e88_365 { 
	width:16px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
.e88_431 { 
	width:1260px;
	height:660px;
	position:absolute;
	left:90px;
	top:122px;
}
.e88_432 { 
	width:197px;
	height:460px;
	position:absolute;
	left:0px;
	top:100px;
}
.e88_433 { 
	box-shadow:0px 0px 1px rgba(55.00000052154064, 56.000000461936, 60.00000022351742, 0.23999999463558197);
	background-color:rgba(255, 255, 255, 1);
	width:197px;
	height:84px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei88_433_36_138 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:197px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei88_433_36_139 { 
	width:197px;
	height:76px;
	position:absolute;
	left:0px;
	top:8px;
}
.ei88_433_36_140 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:24px;
	position:absolute;
	left:16px;
	top:16px;
	text-align:left;
	font-size:19px;
	/*letter-spacing:-4px;*/
}
.ei88_433_36_141 { 
	color:rgba(0, 0, 0, 0.5);
	width:165px;
	height:20px;
	position:absolute;
	left:16px;
	top:40px;
	text-align:left;
	font-size:14px;
	/*letter-spacing:-2;*/
}
.e88_434 { 
	box-shadow:0px 0px 1px rgba(55.00000052154064, 56.000000461936, 60.00000022351742, 0.23999999463558197);
	background-color:rgba(255, 255, 255, 1);
	width:197px;
	height:84px;
	position:absolute;
	left:0px;
	top:94px;
}
.ei88_434_36_133 { 
	background-color:rgba(255, 199.0000033378601, 0, 1);
	width:197px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei88_434_36_134 { 
	width:197px;
	height:76px;
	position:absolute;
	left:0px;
	top:8px;
}
.ei88_434_36_135 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:24px;
	position:absolute;
	left:16px;
	top:16px;
	text-align:left;
	font-size:19px;
	/*letter-spacing:-4;*/
	/*line-height:px;*/
}
.ei88_434_36_136 { 
	color:rgba(0, 0, 0, 0.5);
	width:165px;
	height:20px;
	position:absolute;
	left:16px;
	top:40px;
	text-align:left;
	font-size:14px;
	/*letter-spacing:-2;*/
	/*line-height:px;*/
}
.e88_435 { 
	box-shadow:0px 0px 1px rgba(55.00000052154064, 56.000000461936, 60.00000022351742, 0.23999999463558197);
	background-color:rgba(255, 255, 255, 1);
	width:197px;
	height:84px;
	position:absolute;
	left:0px;
	top:188px;
}
.ei88_435_36_143 { 
	background-color:rgba(142.80000060796738, 142.80000060796738, 142.80000060796738, 1);
	width:197px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei88_435_36_144 { 
	width:197px;
	height:76px;
	position:absolute;
	left:0px;
	top:8px;
}
.ei88_435_36_145 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:24px;
	position:absolute;
	left:16px;
	top:16px;
	text-align:left;
	font-size:19px;
	/*letter-spacing:-4;*/
	/*line-height:px;*/
}
.ei88_435_36_146 { 
	color:rgba(0, 0, 0, 0.5);
	width:165px;
	height:20px;
	position:absolute;
	left:16px;
	top:40px;
	text-align:left;
	font-size:14px;
	/*letter-spacing:-2;*/
	/*line-height:px;*/
}
.e88_436 { 
	box-shadow:0px 0px 1px rgba(55.00000052154064, 56.000000461936, 60.00000022351742, 0.23999999463558197);
	background-color:rgba(255, 255, 255, 1);
	width:197px;
	height:84px;
	position:absolute;
	left:0px;
	top:282px;
}
.ei88_436_36_143 { 
	background-color:rgba(122.40005046129227, 101.99999392032623, 255, 1);
	width:197px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei88_436_36_144 { 
	width:197px;
	height:76px;
	position:absolute;
	left:0px;
	top:8px;
}
.ei88_436_36_145 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:24px;
	position:absolute;
	left:16px;
	top:16px;
	text-align:left;
	font-size:19px;
	/*letter-spacing:-4;*/
	/*line-height:px;*/
}
.ei88_436_36_146 { 
	color:rgba(0, 0, 0, 0.5);
	width:165px;
	height:20px;
	position:absolute;
	left:16px;
	top:40px;
	text-align:left;
	font-size:14px;
	/*letter-spacing:-2;*/
	/*line-height:px;*/
}
.e88_437 { 
	box-shadow:0px 0px 1px rgba(55.00000052154064, 56.000000461936, 60.00000022351742, 0.23999999463558197);
	background-color:rgba(255, 255, 255, 1);
	width:197px;
	height:84px;
	position:absolute;
	left:0px;
	top:376px;
}
.ei88_437_36_143 { 
	background-color:rgba(241.00000083446503, 120.00000044703484, 182.00000435113907, 1);
	width:197px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei88_437_36_144 { 
	width:197px;
	height:76px;
	position:absolute;
	left:0px;
	top:8px;
}
.ei88_437_36_145 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:24px;
	position:absolute;
	left:16px;
	top:16px;
	text-align:left;
	font-size:19px;
	/*letter-spacing:-4;*/
	/*line-height:px;*/
}
.ei88_437_36_146 { 
	color:rgba(0, 0, 0, 0.5);
	width:165px;
	height:20px;
	position:absolute;
	left:16px;
	top:40px;
	text-align:left;
	font-size:14px;
	/*letter-spacing:-2;*/
	/*line-height:px;*/
}
.e89_400 { 
	width:990px;
	height:538px;
	position:absolute;
	left:270px;
	top:61px;
}
.e89_401 { 
	width:990px;
	height:166px;
	position:absolute;
	left:0px;
	top:0px;
}
.e89_490 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e89_482 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:9px;
	top:24px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	/*line-height:px;*/
}
.e89_483 { 
	color:rgba(63.000000044703484, 115.00000074505806, 132.0000073313713, 0.5);
	width:200px;
	height:30px;
	position:absolute;
	left:24px;
	top:112px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e89_491 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:255px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei89_491_89_482 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:9px;
	top:24px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	/*line-height:px;*/
}
.ei89_491_89_483 { 
	color:rgba(63.000000044703484, 115.00000074505806, 132.0000073313713, 0.5);
	width:200px;
	height:30px;
	position:absolute;
	left:24px;
	top:112px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e89_494 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:510px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei89_494_89_482 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:9px;
	top:24px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	/*line-height:px;*/
}
.ei89_494_89_483 { 
	color:rgba(63.000000044703484, 115.00000074505806, 132.0000073313713, 0.5);
	width:200px;
	height:30px;
	position:absolute;
	left:24px;
	top:112px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e89_516 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:765px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei89_516_89_482 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:9px;
	top:24px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	/*line-height:px;*/
}
.ei89_516_89_483 { 
	color:rgba(63.000000044703484, 115.00000074505806, 132.0000073313713, 0.5);
	width:200px;
	height:30px;
	position:absolute;
	left:24px;
	top:112px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e89_522 { 
	width:990px;
	height:166px;
	position:absolute;
	left:0px;
	top:186px;
}
.e89_523 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei89_523_89_482 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:9px;
	top:24px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	/*line-height:px;*/
}
.ei89_523_89_483 { 
	color:rgba(63.000000044703484, 115.00000074505806, 132.0000073313713, 0.5);
	width:200px;
	height:30px;
	position:absolute;
	left:24px;
	top:112px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e89_524 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:255px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei89_524_89_482 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:9px;
	top:24px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	/*line-height:px;*/
}
.ei89_524_89_483 { 
	color:rgba(63.000000044703484, 115.00000074505806, 132.0000073313713, 0.5);
	width:200px;
	height:30px;
	position:absolute;
	left:24px;
	top:112px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e89_525 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:510px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei89_525_89_482 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:9px;
	top:24px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	/*line-height:px;*/
}
.ei89_525_89_483 { 
	color:rgba(63.000000044703484, 115.00000074505806, 132.0000073313713, 0.5);
	width:200px;
	height:30px;
	position:absolute;
	left:24px;
	top:112px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e89_526 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:765px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei89_526_89_482 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:9px;
	top:24px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	/*line-height:px;*/
}
.ei89_526_89_483 { 
	color:rgba(63.000000044703484, 115.00000074505806, 132.0000073313713, 0.5);
	width:200px;
	height:30px;
	position:absolute;
	left:24px;
	top:112px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e89_500 { 
	width:990px;
	height:166px;
	position:absolute;
	left:0px;
	top:372px;
}
.e89_501 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei89_501_89_482 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:9px;
	top:24px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	/*line-height:px;*/
}
.ei89_501_89_483 { 
	color:rgba(63.000000044703484, 115.00000074505806, 132.0000073313713, 0.5);
	width:200px;
	height:30px;
	position:absolute;
	left:24px;
	top:112px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e89_535 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:255px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei89_535_89_482 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:9px;
	top:24px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	/*line-height:px;*/
}
.ei89_535_89_483 { 
	color:rgba(63.000000044703484, 115.00000074505806, 132.0000073313713, 0.5);
	width:200px;
	height:30px;
	position:absolute;
	left:24px;
	top:112px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e89_502 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:510px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei89_502_89_482 { 
	color:rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
	width:207px;
	height:32px;
	position:absolute;
	left:9px;
	top:24px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	/*line-height:px;*/
}
.ei89_502_89_483 { 
	color:rgba(63.000000044703484, 115.00000074505806, 132.0000073313713, 0.5);
	width:200px;
	height:30px;
	position:absolute;
	left:24px;
	top:112px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e89_538 { 
	box-shadow:0px 10px 20px rgba(41.00000135600567, 41.00000135600567, 42.000001296401024, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:166px;
	position:absolute;
	left:765px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e89_546 { 
	width:64px;
	height:59px;
	position:absolute;
	left:80.5px;
	top:24px;
}
.i89_546_89_542 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
}
.ei89_546_89_542 { 
	width:22.400001525878906px;
	height:0px;
	position:absolute;
	left:20.799999237060547px;
	top:29.5px;
}
.i89_546_89_543 { 
	border:2px solid rgba(108.00000116229057, 92.00000211596489, 231.00000143051147, 1);
}
.ei89_546_89_543 { 
	width:11.200000762939453px;
	height:20.650001525878906px;
	position:absolute;
	left:32px;
	top:19.174999237060547px;
}
