<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TimeNote</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

    <style>
        body {
            background: #E5E5E5;
            font-family:Nanum Myeongjo;
        }
    </style>

</head>

<body>
<div class=e88_333>
    <div class=e88_335>
        <div class=e88_337>
            <div class=e88_338>
                <div class=e88_339><a href="#" class="ei88_339_3_82">시간표</a></div>
                <div class=e88_340><a href="/note" class="ei88_340_3_82">강의노트</a></div>
                <div class=e88_341><a href="#" class="ei88_341_3_84">내 정보</a></div>
                <div class="e88_342"></div>
                <div class=e88_343><a href="/loginForm" class="ei88_343_3_82">로그인</a></div>
                <div class=e88_344><a href="/joinForm" class="ei88_344_3_82">회원가입</a></div>
            </div>
        </div>
        <div class=e88_345>
            <div class=e88_346>
                <div class=e88_347>
                    <div class=ei88_347_3_76>
                        <div class="ei88_347_3_77"></div>
                        <div class="ei88_347_3_78"></div>
                        <div class="ei88_347_3_79"></div>
                        <div class="ei88_347_3_80"></div>
                    </div>
                </div>
                <a href="/" class="e88_348">TimeNote</a></div>
        </div>
    </div>
    <div class=e88_349>
        <div class=e88_350>
            <div class="e88_351"></div>
        </div>
        <div class="e88_352"></div>
        <span class="e88_353">© 2021 All Rights Reserved</span>
        <div class=e88_354>
            <div class=e88_355>
                <div class="e88_356"></div>
            </div>
            <span class="e88_357">Social Media</span>
            <div class=e88_358>
                <div class=e88_359>
                    <div class="ei88_359_11_41"></div>
                </div>
            </div>
        </div>
        <div class=e88_360><span class="e88_361">sampleemail@gmail.com</span><span class="e88_363">Contacts</span>
            <div class=e88_364>
                <div class="e88_365"></div>
            </div>
        </div>
    </div>
    <div class=e88_431>
        <div class=e88_432>
            <div class=e88_433>
                <div class="ei88_433_36_138"></div>
                <div class=ei88_433_36_139><span class="ei88_433_36_140">Algorithm</span><span class="ei88_433_36_141">Think about this thing.</span>
                </div>
            </div>
            <div class=e88_434>
                <div class="ei88_434_36_133"></div>
                <div class=ei88_434_36_134><span class="ei88_434_36_135">Linux</span><span class="ei88_434_36_136">Details of what to do.</span>
                </div>
            </div>
            <div class=e88_435>
                <div class="ei88_435_36_143"></div>
                <div class=ei88_435_36_144><span class="ei88_435_36_145">Android</span><span class="ei88_435_36_146">Details of what not to do.</span>
                </div>
            </div>
            <div class=e88_436>
                <div class="ei88_436_36_143"></div>
                <div class=ei88_436_36_144><span class="ei88_436_36_145">C Programming</span><span
                        class="ei88_436_36_146">Details of what not to do.</span></div>
            </div>
            <div class=e88_437>
                <div class="ei88_437_36_143"></div>
                <div class=ei88_437_36_144><span class="ei88_437_36_145">OS</span><span class="ei88_437_36_146">Details of what not to do.</span>
                </div>
            </div>
        </div>
        <div class=e89_400>
            <div class=e89_401>
                <div class=e89_490><span class="e89_482">Mobile Responsive</span><span
                        class="e89_483">Description</span></div>
                <div class=e89_491><span class="ei89_491_89_482">Mobile Responsive</span><span class="ei89_491_89_483">Description</span>
                </div>
                <div class=e89_494><span class="ei89_494_89_482">Mobile Responsive</span><span class="ei89_494_89_483">Description</span>
                </div>
                <div class=e89_516><span class="ei89_516_89_482">Mobile Responsive</span><span class="ei89_516_89_483">Description</span>
                </div>
            </div>
            <div class=e89_522>
                <div class=e89_523><span class="ei89_523_89_482">Mobile Responsive</span><span class="ei89_523_89_483">Description</span>
                </div>
                <div class=e89_524><span class="ei89_524_89_482">Mobile Responsive</span><span class="ei89_524_89_483">Description</span>
                </div>
                <div class=e89_525><span class="ei89_525_89_482">Mobile Responsive</span><span class="ei89_525_89_483">Description</span>
                </div>
                <div class=e89_526><span class="ei89_526_89_482">Mobile Responsive</span><span class="ei89_526_89_483">Description</span>
                </div>
            </div>
            <div class=e89_500>
                <div class=e89_501><span class="ei89_501_89_482">Mobile Responsive</span><span class="ei89_501_89_483">Description</span>
                </div>
                <div class=e89_535><span class="ei89_535_89_482">Mobile Responsive</span><span class="ei89_535_89_483">Description</span>
                </div>
                <div class=e89_502><span class="ei89_502_89_482">Mobile Responsive</span><span class="ei89_502_89_483">Description</span>
                </div>
                <div class=e89_538>
                    <div class=e89_546>
                        <div class="ei89_546_89_542"></div>
                        <div class="ei89_546_89_543"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>