<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>TimeNote</title>
</head>
<th:block layout:fragment="css">
    <link href="/css/main.css" rel="stylesheet"/>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            background: #E5E5E5;
            font-family: Nanum Myeongjo;
            margin: 0;
            padding: 0;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
</th:block>

<div layout:fragment="content">
    <div class="e88_333">
        <div class=e88_431>
            <!--   과목 리스트   -->
            <div class=e88_432>
                <!--   과목 1   -->
                <div th:each="sub : ${subjects}">
                    <div class=e88_433>
                        <div class="ei88_433_36_138"></div>
                        <div class=ei88_433_36_139><span th:text="${sub.name}" class="ei88_433_36_140"></span>
                            <span th:text="${sub.getDay()} + ' ' + ${sub.getStart_class()} +'-' + ${sub.getFinish_class()} "
                                  class="ei88_433_36_141">Think about this thing.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=e89_400>
                <div class=e89_401>
                    <div th:each="note : ${notes}" class=card>
                            <span th:text="${note.title}" class="noteTitle"></span>
                            <span th:text="${note.create_at}" class="noteDate"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>