<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
<head>
    <title>Join</title>
</head>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/joinstyle.css">
    <link rel="stylesheet" href="/css/header.css">
    <style>
        body {
            background: #E5E5E5;
            font-family: Nanum Myeongjo;
        }
    </style>
</th:block>
<th:block layout:fragment="script">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</th:block>

<div class=e40_183>
    <header th:replace="fragments/header :: commonHeader"></header>
    <div class="e40_184"></div>
    <div class=e40_185>
        <div class="ei40_185_39_175"></div>
    </div>
    <form>
        <div class=e40_237>
            <div class=e40_207>
                <div class="ei40_207_39_169"></div>
                <div class="ei40_207_39_170"></div>
                <label for="email" class="ei40_207_39_171">Email Address</label>
                <input type="text" name="email" id="email" class="ei40_207_39_172">
            </div>
            <div class=e40_2331>
                <div class="e40_2341"></div>
                <input type="text" name="school" id="school" class="e40_2351">
                <label for="school" class="e40_2361">School</label>
            </div>
            <div class=e40_233>
                <div class="e40_234"></div>
                <input type="text" name="username" id="username" class="e40_235">
                <label for="username" class="e40_236">Name</label>
            </div>
            <div class=e40_201>
                <div class="e40_202"></div>
                <input type="text" name="password" id="password" class="e40_203">
                <label for="password" class="e40_204">Password</label>
            </div>
        </div>
    </form>
    <div class=e40_212>
        <button id="btn-join" class="e40_213">Sign Up</button>
    </div>
    <script src="/js/user.js"></script>
    <span class="e40_215">Welcome ! Please Join with TimeNote.</span><span class="e40_216">Study with TimeNote !</span>
</div>
</html>