<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
<head>
    <title>TimeTable</title>
</head>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/timestyles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <style>
        body {
            background: #E5E5E5;
            font-family: "Nanum Myeongjo";
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
</th:block>

<div class=e3_3>
    <header th:replace="fragments/header :: commonHeader"></header>
    <div class=e32_71>
        <div class=e32_72>
            <div class=e32_73>
                <div class="e32_74"></div>
                <div class="e32_75"></div>
                <div class="e32_76"></div>
                <div class="e32_77"></div>
                <div class="e32_78"></div>
                <div class="e32_79"></div>
                <div class="e32_80"></div>
                <div class="e32_81"></div>
                <div class="e32_82"></div>
                <div class="e32_83"></div>
                <div class="e32_84"></div>
                <div class="e32_85"></div>
                <div class="e32_86"></div>
                <div class="e32_87"></div>
                <div class="e32_88"></div>
            </div>
            <div class=e32_89>
                <div class=e32_90>
                    <div class="e32_91"></div>
                    <div class="e32_92"></div>
                    <div class="e32_93"></div>
                    <div class="e32_94"></div>
                    <span class="e32_95">9 AM</span></div>
                <div class=e32_96>
                    <div class="e32_97"></div>
                    <div class="e32_98"></div>
                    <div class="e32_99"></div>
                    <span class="e32_100">10 AM</span></div>
                <div class=e32_101>
                    <div class="e32_102"></div>
                    <div class="e32_103"></div>
                    <div class="e32_104"></div>
                    <span class="e32_105">11 AM</span></div>
                <div class=e32_106>
                    <div class="e32_107"></div>
                    <div class="e32_108"></div>
                    <div class="e32_109"></div>
                    <span class="e32_110">12 PM</span></div>
                <div class=e32_111>
                    <div class="e32_112"></div>
                    <div class="e32_113"></div>
                    <div class="e32_114"></div>
                    <span class="e32_115">1 PM</span></div>
                <div class=e32_116>
                    <div class="e32_117"></div>
                    <div class="e32_118"></div>
                    <div class="e32_119"></div>
                    <span class="e32_120">2 PM</span></div>
                <div class=e32_121>
                    <div class="e32_122"></div>
                    <div class="e32_123"></div>
                    <div class="e32_124"></div>
                    <span class="e32_125">3 PM</span></div>
                <div class=e32_126>
                    <div class="e32_127"></div>
                    <div class="e32_128"></div>
                    <div class="e32_129"></div>
                    <span class="e32_130">4 PM</span></div>
                <div class=e32_131>
                    <div class="e32_132"></div>
                    <div class="e32_133"></div>
                    <div class="e32_134"></div>
                    <span class="e32_135">5 PM</span></div>
                <div class=e32_136>
                    <div class="e32_137"></div>
                    <div class="e32_138"></div>
                    <div class="e32_139"></div>
                    <span class="e32_140">6 PM</span></div>
                <div class=e32_141>
                    <div class="e32_142"></div>
                    <div class="e32_143"></div>
                    <div class="e32_144"></div>
                    <span class="e32_145">7 PM</span></div>
                <div class=e32_146>
                    <div class="e32_147"></div>
                    <div class="e32_148"></div>
                    <div class="e32_149"></div>
                    <span class="e32_150">8 PM</span></div>
            </div>
            <div class=e32_151>
                <div class=e32_152><span class="e32_153">Monday</span></div>
                <div class=e32_154><span class="e32_155">Tuesday</span></div>
                <div class=e32_156><span class="e32_157">Wendsday</span></div>
                <div class=e32_158><span class="e32_159">Thursday</span></div>
                <div class=e32_160><span class="e32_161">Friday</span></div>
            </div>

        </div>
    </div>
    <div class=e35_576>
        <div class=e35_581>
            <div class="e35_582"></div>
            <div class=e35_583><a href="/addTime" class="e35_584">추가하기</a></div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: commonFooter"></footer>
</div>
</html>




<!--<div class=e32_162>-->
<!--    <div class=e32_163>-->
<!--        <div class=e32_164>-->
<!--            <div class="e32_165"></div>-->
<!--            <div class="e32_166"></div>-->
<!--            <div class=e32_167>-->
<!--                <div class=e32_168><span class="ei32_168_29_988">Algorithm</span></div>-->
<!--            </div>-->
<!--            <div class="e32_170"></div>-->
<!--            <div class="e32_171"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class=e32_172>-->
<!--        <div class=e32_173>-->
<!--            <div class="e32_174"></div>-->
<!--            <div class="e32_175"></div>-->
<!--            <div class=e32_176>-->
<!--                <div class=e32_177><span class="ei32_177_29_988">Linux</span></div>-->
<!--            </div>-->
<!--            <div class="e32_179"></div>-->
<!--            <div class="e32_180"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class=e32_181>-->
<!--        <div class=e32_182>-->
<!--            <div class="e32_183"></div>-->
<!--            <div class="e32_184"></div>-->
<!--            <div class="e32_185"></div>-->
<!--            <div class="e32_186"></div>-->
<!--            <span class="e32_188">C programming</span></div>-->
<!--    </div>-->
<!--    <div class=e32_189>-->
<!--        <div class=e32_190>-->
<!--            <div class="e32_191"></div>-->
<!--            <div class="e32_192"></div>-->
<!--            <div class="e32_193"></div>-->
<!--            <div class="e32_194"></div>-->
<!--            <span class="e32_196">Android-->
<!--</span></div>-->
<!--    </div>-->
<!--    <div class=e32_197>-->
<!--        <div class=e32_198>-->
<!--            <div class="e32_199"></div>-->
<!--            <div class="e32_200"></div>-->
<!--            <div class=e32_201></div>-->
<!--            <div class="e32_203"></div>-->
<!--            <div class="e32_204"></div>-->
<!--            <span class="e32_205">C programming</span></div>-->
<!--    </div>-->
<!--    <div class=e32_206>-->
<!--        <div class=e32_207>-->
<!--            <div class="e32_208"></div>-->
<!--            <div class="e32_209"></div>-->
<!--            <div class=e32_210>-->
<!--                <div class=e32_211><span class="ei32_211_29_988">Linux</span></div>-->
<!--            </div>-->
<!--            <div class="e32_213"></div>-->
<!--            <div class="e32_214"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class=e32_215>-->
<!--        <div class=e32_216>-->
<!--            <div class="e32_217"></div>-->
<!--            <div class="e32_218"></div>-->
<!--            <div class=e32_219>-->
<!--                <div class=e32_220><span class="ei32_220_29_988">Algorithm</span></div>-->
<!--            </div>-->
<!--            <div class="e32_222"></div>-->
<!--            <div class="e32_223"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class=e32_224>-->
<!--        <div class=e32_225>-->
<!--            <div class="e32_226"></div>-->
<!--            <div class="e32_227"></div>-->
<!--            <div class=e32_228>-->
<!--                <div class=e32_229><span class="ei32_229_29_988">OS</span></div>-->
<!--            </div>-->
<!--            <div class="e32_231"></div>-->
<!--            <div class="e32_232"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->